.input, .input__control  {
  width: 100%;
  border: 1px solid $color_border !important;
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px !important;
  padding: 13px;
  outline: none;
  font-size: 1rem;
  
  &:focus, &.input__control--is-focused {
    border-color: $color_blue !important;
    box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px !important;
  }
}

.input__control {
  cursor: pointer !important;
  padding: 4px;

  .input__input-container {
    margin: 0 !important;
    padding: 0 !important;
  }
}