#home-page {
  margin-top: 140px;

  .application-name {
    text-align: center;
    color: $color_white;

    h1,
    p {
      margin: 0;
    }

    p {
      margin-top: 10px;
    }
  }

  .converter {
    margin-top: 50px;

    .box {
      .form {
        padding: 50px;
        display: flex;

        .form-group {
          width: 100%;
          margin: 5px;
          position: relative;

          .mini-loader {
            position: absolute;
            right: 25px;
            top: 35px;
          }
          
          label {
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
          }
        }

        .inverse-button {
          height: 100%;
          align-self: end;
          margin-bottom: 5px;
          margin-left: 5px;
          margin-right: 5px;

          button {
            background-color: $color_white;
          }
        }
      }
    }
  }
}
